LOCAL_BACKUP_DIR="/var/lib/vz/dump"
TARGET_BACKUP_DIR="/mnt/ftp-backup"
CONTAINERS="102,103"
# `CONTAINERS` is kept for backwards compatibility and may include LXC CTIDs and/or QEMU VMIDs.
DAYS_TO_KEEP=7
EMAIL_RECIPIENT="your-email@example.com"
# Suported values: gzip, lzo, zstd
COMPRESSION="zstd"
CHECK_MOUNTPOINT=true
